* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

body {
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#container {
    width: 500px;
    gap: 10px;
}

#log {
    background-color: rgba(16, 166, 177, 0.253);
    width: 500px;
    height: 500px;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#log p {
    padding: 12px;
}

#input-container {
    display: flex;
    gap: 5px;
    width: 100%;
    border-radius: 8px;
}

#msgInput {
    flex-grow: 1;
    border: none;
    outline: none;
    background-color: rgba(16, 166, 177, 0.253);
    padding: 8px;
    border-radius: 8px;
}

#input-container button {
    border: none;
    outline: none;
    background-color: rgba(16, 166, 177, 0.253);
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

#input-container button:hover {
    filter: brightness(0.5);
}

#users-container {
    max-height: 120px;
    overflow-y: auto;
    margin-top: 10px;
    background-color: rgba(16, 166, 177, 0.253);
    padding: 8px;
    border-radius: 8px;
}

#users-container p {
    margin-bottom: 5px;
}

#userSelect {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#userSelect li {
    padding: 4px;
    border-radius: 4px;
    font-weight: 500;
    color: #e2dedee7;
}